li:nth-child(odd) {
background: lightblue;
list-style-type: upper-roman;
}
li:nth-child(even) {
background: lightpink;
list-style-type: upper-roman;
}

#todoCorpo{
    position: absolute;
    top: 100px;
    left: 400px;
    right: 400px;
    bottom: 100px;
    font-family: Arial;
    background-color: gray;

}

#cabecalho{
    background-color: lightyellow;
}

#lista{

}

#rodape{
    background-color: darkgray;
}
